<div class="container ">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-1">My Star Recipes</h3>
      <%= render 'shared/search_box' %>
      <div class="dish-type-nav">
        <ul class="nav d-flex justify-content-center">
          <li class="nav-item flex-grow-1">
            <button class="btn w-100">STARTER</button>
          </li>
          <li class="nav-item flex-grow-1">
            <button class="btn w-100 btn-active">MAIN</button>
          </li>
          <li class="nav-item flex-grow-1">
            <button class="btn w-100">DESSERT</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
