.liked-recipe-title {
  color: $green;
}

.dish-type-nav {
  margin-bottom: 30px;
  button {
    border: $green solid 1px;
    font-weight: bold;
    font-size: 13px;
 }
 .btn-liked-active {
  color: white;
  background-color: $green;
 }
}

.no-liked-recipe {
  margin-left: 15px;
}

.btn-no-search-result {
  opacity: 50%;
}

.btn-cross-gray {
  color: #EEEEEE;
}
