@import "../components/card_show";

.planner-title {
  color: #73C88B;
}

.planner-edit-btn {
  color: #282A29;
}

.btn-krok {
  background-color: #73C88B;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.btn-krok-little {
  background-color: #73C88B;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 2px;
  margin-left: 3px;
  margin-bottom: 15px;
}


.krok-color {
  color: #73C88B;

}

input,textarea {
  width:100%;
  // display:block;
  outline: none;}

#planner_name {
  max-width: 130px;
  border: none
}

.rating-form-input {
  border: 1px solid #dee2e6;
}

// .form-box {
//   height: 10px;
//   width: 20px;
// }
