@import "../components/card_show";

.planner-title {
  color: #73C88B;
}

.planner-edit-btn {
  color: #282A29;
}

#title_update_launch {
  margin-top: 15px;
}

.btn-krok {
  background-color: #73C88B;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.btn-krok-little {
  background-color: #73C88B;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 2px;
  margin-left: 3px;
  margin-bottom: 15px;
}


.krok-color {
  color: #73C88B;

}

input,textarea {
  width:100%;
  // display:block;
  outline: none;}

#planner_name {
  // max-width: 130px;
  border: none;
  margin-bottom: 15px;
  border: 1px solid rgba(210, 210, 210, 0.9);
  border-radius: 5px;
  padding:  4px;
  color: rgba(210, 210, 210, 0.9);
  font-style: italic;
}

.rating-form-input {
  border: 0.5px solid #dee2e6;
}

i.fa-star{
  color: #F2AE03;
  opacity: 0.9;
}

.rating-card{
  position: relative;
  bottom: -76px;
}

.btn-cooked-or-not{
  position: absolute;
  top: 15px;
  right:15px;
}


.card-img-icon-cooked {
    position: absolute;
    top: 2px;
    right: 4px;
    text-align: right;
}

.form-krok {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    /* flex-flow: row wrap; */
    -webkit-box-align: center;
    align-items: center;
}
