.avatar-profile{
  width:            130px;
  height:           130px;
  border-radius:    50%;
  object-position:  center;
}

.profile-header{
  padding:          15px;
  display:          flex;
  align-items:      center;
  flex-direction:   column;
}

.underligned-green {
  border-bottom:    5px solid #73C88B;
}

.profile-header-item{
  font-size:        27px;
  font-family:      "Raleway", "Helvetica", "sans-serif";;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion-profile {
  background-color:  white;
  display:           flex;
  color:             #444;
  cursor:            pointer;
  padding:           18px;
  margin:            20px auto;
  width:             96%;
  text-align:        center;
  border:            none;
  outline:           none;
  border:            1px solid;
  border-radius:     18px;
  align-items:       center;

}

/* Style the accordion panel. Note: hidden by default */
.panel-profile {

  padding:      10px;
  overflow:     hidden;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // -webkit-transition: all 0.5s ease-in-out;
  // -moz-transition: all 0.5s ease-in-out;
  // -ms-transition: all 0.5s ease-in-out;
  // transition: all 0.5s ease-in-out;

}

.active-profile {

background-color: #73C88B ;
border-decoration: none;
}

.item-text{
  flex-grow: 1;
}

.profile-items{
flex-direction:    column;
align-items:       center;
text-align:        center;

}
.edit-profile{
  border-radius:    20px;
   border: 1px solid gray;
   margin: 0 auto 10px auto;
   padding: 10px;
   width: 60%;
   background-color: #F7F7F9;
}

.edit-profile a {
  color: black;
}

.container-preferences{
  width: 100%;
}

.preferences-tags {
    background-color: #EEEEEE;
    border-radius: 63px;
    font-size: lighter;
    padding: 3px 14px;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin: auto;
    position: absolute;
}

.delete-preference{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  left: -69px;
  top: -13px;
  font-size: 10px;
  border-style: none;
}

label.select.required{
  color: black;
  font-family: arial, sans-serif;
}


.btn-krok-pref{
    background-color: #73C88B;
    color: white;
    width: 100px;
    height: 36px;
    border-radius: 11px;
    padding: 0px;
    margin-left: 3px;
    margin-bottom: 7px;
    margin-top: 0;
    border-style: solid;
}

label.select.required {
  display: none;
}

// div#food-preference.panel-profile{
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

.select2{
  width: 150px;
  height: 33px;
}

div.form-group{
  margin-bottom: 5px;
}

