.avatar-profile{
  width:            130px;
  height:           130px;
  border-radius:    50%;
  object-position:  center;
}

.profile-header{
  padding:          15px;
  display:          flex;
  align-items:      center;
  flex-direction:   column;
}

.underligned-green {
  border-bottom:    5px solid #73C88B;
}

.profile-header-item{
  color: $green;
  font-family:      "Raleway", "Helvetica", "sans-serif";
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion-profile {
  background-color:  white;
  display:           flex;
  color:             #444;
  cursor:            pointer;
  padding:           18px;
  margin:            20px 30px;
  text-align:        center;
  border:            none;
  outline:           none;
  border:            1px solid;
  border-radius:     18px;
  align-items:       center;

}

/* Style the accordion panel. Note: hidden by default */
.panel-profile {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.panel-profile-preference {
  padding-left: 0px;
  padding-right: 0px;
  form {
  margin-bottom: 10px;
  }
}

.active-profile {
background-color: #73C88B ;
border-decoration: none;
}

.item-text{
  flex-grow: 1;
}

.profile-items{
flex-direction:    column;
align-items:       center;
text-align:        center;

}
.edit-profile{
  border-radius:    20px;
   border: 1px solid gray;
   margin: 0 auto 10px auto;
   padding: 10px;
   width: 90%;
   background-color: #F7F7F9;
}

.edit-profile a {
  color: black;
}

.preferences-tag {
    background-color: #EEEEEE;
    border-radius: 63px;
    font-size: lighter;
    padding: 3px 8px;
    width: 100%;
}

.column-preference {
  position: relative;
  .delete-preference{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 70px;
    top: -8px;
    font-size: 10px;
    border-style: none;
  }
}



label.select.required{
  color: black;
  font-family: arial, sans-serif;
}


.btn-krok-pref{
    background-color: #73C88B;
    color: white;
    width: 100px;
    height: 36px;
    border-radius: 11px;
    padding: 0px;
    margin-left: 3px;
    margin-bottom: 7px;
    margin-top: 0;
    border-style: solid;
}

label.select.required {
  display: none;
}


.select2{
  width: 150px;
  height: 33px;
}

div.form-group{
  margin-bottom: 5px;
}

.container-preferences {
  width: 100%;
}





