.recipe-show {
  position: relative;
  .recipe-photo-show {
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    height: 60vh;
  }
  p {
    font-size: 15px;
    color: rgb(40, 40, 40);
  }
}

.name-review {
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.6);
  padding-bottom: 15px;
}

.recipe-text-show {
  border-radius: 50px 50px 0px 0px;
  position: absolute;
  top: 57vh;
  padding: 30px 40px 60px 40px;
}

.owner-info {
  margin: 10px auto;
  h6, p {
    color: rgb(40, 40, 40);
  }
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
  .circle-icon {
    margin-right: 20px;
  }
  .btn-heart {
    font-size: 23px;
    color: $green;
  }
}

.recipe-text-show {
  .icon-green {
    color: $green;
  }
}

.recipe-photo-show {
  position: relative;
  .circle-add-recipe {
    border: 2px solid $green;
    position: absolute;
    top: 52vh;
    left: 45vw;
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    .btn-add-recipe {
      position: absolute;
      left: 6vw;
      top: 22px;
      font-size: 26px;
      color: $green;
      z-index: 1;
    }
  }
  .circle-add-recipe-cliked {
    background-color: $green;
    z-index: 1;
    .btn-add-recipe-cliked {
      color: white;
    }
  }
}

.recipe-subtitle {
  border-bottom: solid 5px $green;
}

.recipe-steps {
  .recipe-step-number {
    color: $green;
  }
}

.recipe-ingredients-card {
  border: none;
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.4);
  .card-body {
    padding: 5px 20px;
    p {
      margin-bottom: 5px;
    }
  }
  .card-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $green;
  }
}







