<div class="form-box d-none font-italic" id='title_updated'>
  <%= form_for @planner, html: {class: 'form-inline w-40'} do |f|%>
    <h3><%= f.text_field :name %></h3>
    <%= f.button :submit, class: " btn krok-color"  do %>
      <i class="fas fa-check" id="title_update_validation"></i>
    <% end %>
  <% end %>
</div>
