<div class="search-box serach-box-liked" >
 <%= form_tag liked_recipes_path, method: :get do %>
   <%= text_field_tag :query,
     params[:query],
     class: "form-control",
     placeholder: "Find your star recipes"
   %>
   <%#= submit_tag "Search", class: "btn btn-primary" %>
 <% end %>
</div>
