
.card-show {
  height: 22vh;
  border: none;


  .card-img-icon-cooked {
    position: absolute;
    top: 2px;
    right: 4px;
  }

  .card-img-icon-delete {
    position: absolute;
    left: 10px;
    top: 2px;
  }

  .card-img-icon-random-again {
    position: absolute;
    left: 9px;
    bottom: -8px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px #909B9D;

    // border: 1px solid #E6E7E7;
    padding: 4px;
    border-radius: 50%;

  }

  .card-img-icon-random-valid {
    position: absolute;
    right: 9px;
    bottom: -8px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px #909B9D;
    padding: 6px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover;

  }
  .card-img-icon-add {
    position: absolute;
    top: 3vh;
    right: 15vw;
    font-size: 50px;
    color: #ACB3BF;

  }

  .card-img-icon-search {
    position: absolute;
    padding: 4px 30px;
    top: 3vh;
    right: 12vw;
    color: white;
    background-color: #ACB3BF;

    a {
      text-decoration: none;
      color: white;
      background-color: #ACB3BF;
      a:hover {
        font-size: bold;
      }
    }
  }

  .card-img-icon-random {
    position: absolute;
    padding: 4px 29px;
    bottom: 3vh;
    right: 12vw;
    color: white;
    background-color: #ACB3BF;
  }

  .card-img-top {
    position: relative;
    height: 16vh;
    // width: 44vw;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

.background-alone {
background-color: #EDF6EF;
position: relative;
}


.background-random {
background-color: rgba(150, 150, 150, 0.7);
height: 16vh;
width: 44vw;
// opacity: 0.3;
// position: relative;

}

.dish-type-title {
  font-weight: 900;
}

.planner-new {
  margin-bottom: 42px;
}

i.fa-grin-hearts{
  color:#7AB600;
  position: absolute;
  top: 8px;
  left: 8px;
}

.recipe-servings-planner {
  position: absolute;
  bottom: -31px;
  left: 41px;
}
