.card-planner {
  border: none;
  width: 100%;
  .card-title h6 {
    color: #444;
    font-size: 17px;
    margin-bottom: 0;
    }
  .planner-recipe-img {
    padding: 0;
  }
  .planner-recipe-img img {
    width: 100%;
    padding-right: 1px;
  }
  .btn-add-previous-planner {
    color: $green;
  }
  .btn-add-previous-planner-orange {
    color: orange;
  }
}
