@import "btn_cross";
@import "icon_star";
@import "btn_green";
.card-liked {
  border: none;
  h5 {
    color: $gray;
  }
  img {
    margin-left: 15px;
    height: 16vh;
    width: 18vh;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

