.card-home {
  height: 16vh;
  border: none;
  margin-top: 10px;
  .card-img-top {
    position: relative;
    .card-img-icons {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }

  img {
    height: 16vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .circle-icon {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-bottom: 0.5vh;
    a {
      position: relative;
      .btn-heart {
        position: absolute;
        left: 2px;
        top: 2px;
        font-size: 15px;
        color: $green;
      }
    }
  }

.circle-icon {
  position: relative;
  .btn-add-recipe {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 15px;
    color: $green;
  }
  .btn-add-recipe-done-orange {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 15px;
    color: orange;
  }
}


  .card-title {
    padding: 3px 5px 0 5px;
    a {
      text-decoration: none;
      color: $gray;
      &:hover {
        color: $gray;
      }
    }
  }
}
