.liked_recipe_card {
  border: none;
  margin-right: 15px;
  h6 {
    color: $gray;
  }
  img {
    margin-left:     15px;
    height:          128px;
    width:           128px;
    object-fit:      cover;
    object-position: center;
    border-radius:   5px;
  }
  .btn-add-recipe {
    color: $green;
  }
}

