.navbar-back {
  padding: 10px 40px 5px 40px;
  position: fixed;
  background-color: transparent;
  z-index: 2;
  width: 405px;
  .btn-back {
    color: rgb(50, 50, 50);
    // same color with font color
  }
}
