.navbar {
  display:         flex;
  justify-content: space-around;
  background:      white;
  flex-grow:       0;
}

.navbar i {
display:     flex;
align-items: center;
margin:      auto;
padding: 5px;
}

.navbar-logo i{
  font-size: 22px;
  color:     black;
  margin:    auto;
}

.navbar-container{
  display:flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  border-top-style: solid;
  border-width: 2px;
  border-color: #EEEEEE;
  width: 100%;
  background:      white;

}

.navbar-active i{
  color: #73C88B !important;
}
