.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  background-color: white;
  // margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 1020;
  width: 100%;
  border-bottom: 3px solid rgba(115, 200, 139, 0.3);
  img {
    width: 70px;
    height: 70px;
  }
}
