.top-navbar {
  height: 9vh;
  background-color: white;
  // background-color: $green;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 3px solid rgba(115, 200, 139, 0.3);
  img {
    width: 70px;
    height: 70px;
  }
}
